p {
  /*color: red;*/
  width: 500px;
  /*border: 1px solid black;*/
}

html {
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}


/*<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">*/
/*font-family: 'Ubuntu', sans-serif;*/
